


#container {
    display: grid;
margin-left: 40%;
margin-top: 10%;
    
}

.view1 {
background-color: rgb(45, 237, 237);
    border-top: solid 1px black;
    border-left: solid 1px black;
    border-right: solid 1px black;
    height: 25px;
    width: 209px;
    border-radius: 0px;

}
.view2 {
    background-color: rgb(45, 237, 237);
    border-bottom: solid 1px black;
    border-left: solid 1px black;
    border-right: solid 1px black;
        height: 25px;
        width: 209px;
        border-radius: 0px;
}
.key {
    height: 50px;
    width: 50px;
}

.bottom{
    height:50px;
    width: 104px;
}